extends ../templates/base_template.pug

append vars
    -var showFooter = true
    -var hasNav = true

append nav
    include ../includes/nav.pug

append body
    .fill-both.flex-column.flex-grow-1
        .theme-bgcolor.sidebar
            include ../includes/sidebar.pug
        .fill-both.padding-40
            h2 #{title}
            block content