mixin navLink(link, content)
    li.tab-item
        a.white-color(href=link, title=content) #{content}

include mixins.pug

//- ===== Navigation =====
ul.nav-links.tab.tab-block
    //- ===== Display =====
    li.tab-item
        +linkBlankTarget(baseUrl."display", "Announcement Display", "", "white-color")

    //- ===== Dashboard =====
    //-+navLink(baseUrl."dashboard", "Dashboard")

    if isset(user)
        if user->type == ADMIN
            //- ===== Settings =====
            +navLink(baseUrl."settings", "Settings")

    //- ===== Logout =====
    +navLink(baseUrl."logout", "Logout")